.landing-info {
  width: 50vw;
  height: 40vh;
  animation: Slide-In 2s, ease-in;
  //animation-delay: 1s;
  @keyframes Slide-In {
    0% {
      opacity: 0%;
      background-color: transparent;
      transform: translateX(50%);
    }

    100% {
      opacity: 100%;
      transform: translateX(0%);
    }
  }
}
