.landing-info {
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  position: relative;
  top: 10vh;
  left: 10vw;

  #section_1 {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-section {
      width: 50vw;
      height: 80vh;
      border-right: solid 1px black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        width: 30vw;
      }
      button {
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;

        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 0.9rem;

        margin: 20px;
        padding: 0.8em 2.2em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

        position: relative;
        overflow: hidden;
        z-index: 1;

        &:hover {
          color: #fff;
        }
      }
    }
    .profile-picture {
      width: 30vw;
      height: 80vh;
    }
  }
  #section_2 {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .skills-section {
      width: 70vw;
      height: 60vh;
      border: solid 1px black;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      h1 {
      }
      p {
        width: 40vw;
        // text-indent: 3vw;
      }
      ul:first-of-type {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        gap: 4vw;
        li {
          list-style: none;
          ion-icon {
            font-size: 3vw;
          }
          li p {
            width: 5vw;
            margin-top: 0.5vh;
            margin-left: 0.3vw;
            font-size: 1.2vw;
          }
        }
      }
      ul:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 4vw;
        li {
          list-style: none;
          ion-icon {
            font-size: 1vw;
          }
          span {
            font-size: 1vw;
            margin-left: 1vw;
          }
        }
      }
    }
  }
  #section_3 {
    width: 80vw;
    height: 100vh;
    background-color: blue;
  }
  #section_4 {
    width: 80vw;
    height: 100vh;
    background-color: pink;
  }
  //animation: Slide-In 2s, ease-in;
  // @keyframes Slide-In {
  //   0% {
  //     opacity: 0%;
  //     background-color: transparent;
  //     transform: translateX(50%);
  //   }

  //   100% {
  //     opacity: 100%;
  //     transform: translateX(0%);
  //   }
  // }
}
