@import "./sections/Section1/section1";
@import "./sections/Section2/section2";
@import "./sections/Section3/section3";
@import "./sections/Section4/section4";

.landing-info {
  width: 80vw;
  height: fit-content;
  @include flex-column;
  justify-content: baseline;
  position: relative;
  top: 10vh;
  left: 10vw;
}

@media only screen and (max-width: 600px) {
  .landing-info {
    width: 87vw;
    left: 13vw;
    // overflow-y: scroll;
  }
}
