@import "./Contact/contactComponent";
@import "./Info/infoComponent";
@import "./Nav/navComponent";
@import "./Nav/sideDrawer";
@import "./Nav/backdrop";

.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
