.contact {
  width: 10vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;

  ul {
    width: 5vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    li {
      list-style: none;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-transform: uppercase;
      div {
        width: 1px;
        height: 20vh;
        background-color: black;
      }
      ion-icon {
        font-size: 1.7vw;
        --ionicon-stroke-width: 26px;
      }
    }
  }
}
