.contact {
  width: 10vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;

  ul {
    width: 5vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    li {
      list-style: none;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-transform: uppercase;

      div {
        width: 1px;
        height: 20vh;
        background-color: black;
      }
      a {
        color: black;
        ion-icon {
          font-size: 2rem;
          --ionicon-stroke-width: 26px;
          &:hover {
            transform: scale(1.1) rotate(-10deg);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 13vw;
    ul {
      width: 13vw;
      height: 60vh;
      li {
        font-size: 0.9rem;
        div {
          height: 20vh;
        }
        a {
          color: black;
          ion-icon {
            font-size: 1.5rem;
            &:hover {
              transform: none;
            }
          }
        }
      }
    }
  }
}
