#section_1 {
  width: 80vw;
  height: 90vh;
  @include aligned-central;
  > * {
    margin-bottom: 10vh;
  }
  .profile-section {
    width: 50vw;
    height: 45vh;
    border-right: solid 1px $background-black;
    @include column-space-evenly;
    > * {
      width: 35vw;
    }
    > p {
      //selects only the p children
      font-size: 3rem;
    }
    .profile-picture-two__container-two {
      display: none;
    }
    div {
      line-height: 2;
      :last-child {
        font-weight: bold;
      }
    }
    button {
      padding: 0.8em 2.2em;
      margin-top: 3vh;
      @include button-settings;
      &:hover {
        color: $background-white;
      }
    }
  }
  .profile-picture {
    width: 30vw;
    height: 80vh;
    @include aligned-central;
    &__container {
      width: 20vw;
      height: 50vh;
      //border: solid 1px black;
      img {
        @include clip-path;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #section_1 {
    width: 87vw;
    height: fit-content;
    @include flex-column;
    justify-content: space-around;

    > * {
      margin-bottom: 3vh;
    }
    .profile-section {
      width: 87vw;
      height: 90vh;
      border-right: none;
      padding-top: 5vh;
      > * {
        width: 80vw;
        text-align: center;
      }
      > p {
        //selects only the p children
        font-size: 1.8rem;
      }
      .profile-picture-two__container-two {
        width: 25vw;
        height: fit-content;
        @include aligned-central;

        img {
          @include clip-path;
        }
      }
      div {
        line-height: 1.7;
        > * {
          font-size: 0.8rem;
          margin-top: 2vh;
        }
        :last-child {
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
      a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        button {
          font-size: 0.8rem;
          margin-top: 2vh;
          &:hover {
            color: initial;
          }
        }
      }
    }
    .profile-picture {
      display: none;
    }
  }
}
