.header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  margin-left: 3vw;
  a {
    text-decoration: none;
    color: black;
    display: flex;

    p {
      font-size: 3rem;
      font-weight: bold;
    }
    .hamburger {
      display: none;
    }
    span {
      font-size: 1.7rem;
      margin-top: 1.8vh;
      animation: Appear 4s, ease-in-out backwards;
      @keyframes Appear {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0%);
        }
      }
    }
  }

  animation: Slide-in 2s, ease-in backwards;

  @keyframes Slide-in {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    background-color: #fff;
    .hamburger-menu {
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-right: 10vw;
      .hamburger {
        width: 10vw;
        height: 0.8vh;
        background-color: #212529;
        margin: 0.4vh 0;
        border-radius: 20%;
        cursor: pointer;
        transform-origin: right;
        transition: transform 0.5s;
      }
    }
  }
}
