#section_2 {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .skills-section {
    width: 70vw;
    height: 80vh;
    // border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 20px 40px -20px rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    h1 {
      font-size: 2rem;
    }
    // .info-p {
    //   width: 40vw;
    //   // text-indent: 3vw;
    // }
    .skills-gallery {
      width: 40vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
      column-gap: 6vw;
      li {
        list-style: none;
        width: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 15vh;
        &__title {
          //all the p inside ul

          font-size: 1.3vw;
        }
        ion-icon {
          font-size: 3vw;
        }
      }
    }
    .extra-skills {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10vw;
      li {
        list-style: none;
        ion-icon {
          font-size: 0.8vw;
        }
        span {
          font-size: 1vw;
          margin-left: 0.4vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #section_2 {
    width: 87vw;
    height: 110vh;
    flex-direction: column;

    .skills-section {
      width: 80vw;
      height: 90vh;
      flex-direction: column;
      align-items: center;
      box-shadow: none;
      border-radius: none;
      h1 {
        font-size: 1.5rem;
        margin-bottom: 2vh;
      }

      .skills-gallery {
        width: 80vw;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        column-gap: none;
        justify-items: center;
        li {
          width: 25vw;
          height: 12vh;
          ion-icon {
            font-size: 10vw;
          }
          p {
            //all the p inside ul
            font-size: 0.6rem;
          }
        }
      }
      p {
        font-size: 0.7rem;
        text-align: center;
      }
      .extra-skills {
        li {
          ion-icon {
            font-size: 1.8vw;
          }
          span {
            font-size: 2.8vw;
            margin-left: 1vw;
          }
        }
      }
    }
  }
}
