@import "./LandingPage/landingPageComponent";
@import "./Header/header";

.main-container {
  background-color: $background-white;
  width: 100vw;
  height: fit-content;
  @include flex-column;
  justify-content: flex-end;
  //overflow: hidden;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0.2em;
  }
  &::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px $shadow-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #204051;
    outline: 1px solid rgb(53, 47, 47);
  }
  animation: Open-landing-page 3s;
  @keyframes Open-landing-page {
    0% {
      width: 100vw;
      height: 5vh;
      opacity: 0.5;
    }

    100% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    overflow: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: auto;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}
