.main-container {
  // animation: Open-landing-page 1s, ease-in;
  // @keyframes Open-landing-page {
  //   0% {
  //     width: 0.1px;
  //     height: 0.1px;
  //     opacity: 70%;
  //   }
  //   50% {
  //     width: 100vw;
  //     height: 3px;
  //     opacity: 70%;
  //   }
  //   100% {
  //     width: 100vw;
  //     height: 100vh;
  //     opacity: 100%;
  //   }
  // }
  width: 100vw;
  height: 100vh;
  //   background-color: #031e31;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
