#portfolio {
  width: 80vw;
  height: 100vh;
  @include aligned-central;
  .portfolio-section {
    width: 70vw;
    height: 100vh;
    @media (min-width: 1901px) {
      height: 90vh;
      width: 80vw;
      margin-top: 5rem;
    }
    @media (max-width: 1900px) {
      height: 90vh;
      margin-top: 3rem;
      width: 80vw;
    }
    @media (max-width: 600px) {
      margin-top: 6rem;
    }
    @include column-space-evenly;
    h1 {
      font-size: 2rem;
      @media (max-width: 600px) {
        font-size: 1.8rem;
      }
      @media (max-width: 483px) {
        font-size: 1.5rem;
      }
    }
    &__gallery {
      width: 70vw;
      height: 80vh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      @media (min-width: 1901px) {
        height: 90vh;
        width: 80vw;
      }
      @media (max-width: 1900px) {
        height: 90vh;
        width: 80vw;
      }

      &__box {
        width: 20rem;
        height: 20rem;
        @include flex-column;
        justify-content: space-around;
        padding: 1.5vh 1.5vw;
        @include box-shadow-radius;
        @media (max-width: 1600px) {
          width: 17rem;
          height: 17rem;
        }
        @media (max-width: 1020px) {
          width: 15rem;
          height: 15rem;
        }
        @media (max-width: 900px) {
          width: 13rem;
          height: 13rem;
        }
        @media (max-width: 780px) {
          width: 16rem;
          height: 13rem;
        }
        @media (max-width: 640px) {
          width: 13rem;
          height: 13rem;
        }
        @media (max-width: 520px) {
          width: 12rem;
          height: 12rem;
        }
        @media (max-width: 520px) {
          height: 6rem;
        }
        @media (max-width: 480px) {
          height: 4rem;
          width: 20rem;
        }

        .project-links {
          @include justified-horizontally-end;

          a {
            color: $color-link-projects;
            ion-icon {
              font-size: 1.4rem;
              margin-right: 0.5vw;
              @media (max-width: 1600px) {
                font-size: 1.2rem;
              }
            }
            :hover {
              color: #f3f3f3;
            }
          }
        }
        .project-info {
          width: fit-content;
          height: 20vh;
          @include flex-column;
          justify-content: space-around;
          p:first-of-type {
            width: fit-content;
            font-size: 1.2rem;
            @media (max-width: 1900px) {
              font-size: 1.3rem;
            }
            @media (max-width: 1021px) {
              font-size: 1.2rem;
            }
          }
          p:last-of-type {
            width: fit-content;
            height: 10vh;
            text-align: justify;
            font-size: 0.9rem;
            @media (max-width: 900px) {
              font-size: 0.8rem;
            }
            @media (max-width: 520px) {
              display: none;
            }
          }
        }
        .project-technologies {
          align-self: center;
          width: fit-content;
          @include aligned-central;
          color: #4b5d67;
          > * {
            font-size: 1rem;
            width: fit-content;
            padding: 0.3vw;
            @media (max-width: 1900px) {
              font-size: 0.9rem;
            }
            @media (max-width: 1600px) {
              font-size: 0.8rem;
            }
            @media (max-width: 520px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #section_3 {
    width: 87vw;
    height: 235vh;
    @include flex-column;
    margin-bottom: 5vh;
    .portfolio-section {
      width: 80vw;
      height: fit-content;
      h1 {
        font-size: 1.5rem;
        margin-bottom: 5vh;
        text-align: center;
      }
    }
  }
}
