#section_3 {
  width: 80vw;
  height: 100vh;
  @include aligned-central;
  .portfolio-section {
    width: 70vw;
    height: 100vh;
    @include column-space-evenly;
    h1 {
      font-size: 2rem;
    }
    &__gallery {
      width: 70vw;
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      column-gap: 3vw;
      row-gap: 5vh;
      &__box {
        width: fit-content;
        height: 30vh;
        @include flex-column;
        justify-content: space-around;
        padding: 1.5vh 1.5vw;
        @include box-shadow-radius;

        .project-links {
          @include justified-horizontally-end;

          a {
            color: $color-link-projects;
            ion-icon {
              font-size: 1.4rem;
              margin-right: 0.5vw;
            }
            :hover {
              color: #f3f3f3;
            }
          }
        }
        .project-info {
          width: fit-content;
          height: 20vh;
          @include flex-column;
          justify-content: space-around;
          p:first-of-type {
            width: fit-content;
            font-size: 1.2rem;
          }
          p:last-of-type {
            width: fit-content;
            height: 10vh;
            text-align: justify;
            font-size: 0.9rem;
          }
        }
        .project-technologies {
          align-self: center;
          width: fit-content;
          @include aligned-central;
          color: #4b5d67;
          > * {
            font-size: 1rem;
            width: fit-content;
            padding: 0.3vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #section_3 {
    width: 87vw;
    height: 235vh;
    @include flex-column;
    margin-bottom: 5vh;
    .portfolio-section {
      width: 80vw;
      height: fit-content;
      h1 {
        font-size: 1.5rem;
        margin-bottom: 5vh;
        text-align: center;
      }
      &__gallery {
        width: 80vw;
        height: fit-content;
        justify-items: center;
        row-gap: 3vh;
        &__box {
          width: 70vw;
          height: 30vh;
          padding: 1.5vh 2.5vw;

          .project-links {
            display: flex;
            justify-content: flex-end;

            a {
              ion-icon {
                font-size: 1.2rem;
              }
              :hover {
                color: $color-link-projects;
              }
            }
          }
          .project-info {
            p:first-of-type {
              font-size: 1rem;
            }
            p:last-of-type {
              font-size: 0.7rem;
            }
          }
          .project-technologies {
            > * {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
