.nav {
  width: 10vw;
  height: 100vh;
  position: fixed;
  top: 10vh;
  right: 0;
  display: flex;
  justify-content: flex-end;
  ul {
    height: 70vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a {
      width: 6vw;
      height: fit-content;
      text-decoration: none;
      color: black;
      padding-right: 4vw;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-transform: uppercase;
      li {
        list-style: none;
        padding: 1vh 0;
      }
      &:hover {
        background-color: red;
      }
      &:enabled {
        background: green;
      }
    }
  }
}
