.nav {
  width: 10vw;
  height: 100vh;
  position: fixed;
  top: 10vh;
  right: 0;
  display: flex;
  justify-content: flex-end;
  ul {
    height: 70vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a {
      width: 6vw;
      height: fit-content;
      text-decoration: none;
      color: black;
      padding-right: 4vw;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-transform: uppercase;
      .newClass {
        background-color: red;
      }
      li {
        list-style: none;
        padding: 1vh 0;
      }
      .color {
        background-color: red;
      }
      .non-color {
        background-color: white;
      }
    }
  }
  // animation: Slide-in 2s, ease-in-out backwards;

  // @keyframes Slide-in {
  //   0% {
  //     // width: 70%;
  //     opacity: 0;
  //     transform: translateY(50%);
  //   }
  //   100% {
  //     transform: translateY(0%);
  //   }
  // }
}
