.nav {
  width: 10vw;
  height: 100vh;
  position: fixed;
  top: 10vh;
  right: 0;
  display: flex;
  justify-content: flex-end;
  ul {
    height: 70vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a {
      width: 9vw;
      text-decoration: none;
      color: black;
      padding-right: 4vw;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      text-transform: uppercase;
      align-self: flex-start;
      li {
        width: 5vw;
        list-style: none;
        padding: 1vh 0;
        padding-left: 1vh;
      }
      .color {
        animation: Slide-in 1s, ease-in;
        background-color: #e7e8ea;
      }
      .non-color {
        background-color: white;
      }
    }
  }
  @keyframes Slide-in {
    0% {
      opacity: 1;
      transform: translateY(50%);
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }
}
