@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './mixins';
@import './var';
@import '../components/Loading/loading';
@import '../components/Main/mainContainer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  .App {
    width: 100vw;
    height: 100vh;
    background-color: $background-black;
    overflow: hidden;
    cursor: default;
    color: $text-color;
  }
}
.slide-in-left-enter {
  opacity: 0.5;
  transform: translateX(100%);
}
.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: ease-in 200ms;
}

.slide-in-left-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: ease-out 200ms;
}
