@import '../components/Loading/loading';
@import '../components/Main/mainContainer';
@import '../components/Main/LandingPage/landingPageComponent';
@import '../components/Main/Header/header';
@import '../components/Main/LandingPage/Contact/contactComponent';
@import '../components/Main/LandingPage/Info/infoComponent';
@import '../components/Main/LandingPage/Nav/navComponent';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .App {
    width: 100vw;
    height: 100vh;
    //background-color: black;
    overflow: hidden;
    animation: moveInPage 4s ease;
    animation-fill-mode: forwards;
  }
}
